$main_bg_color: #0F0F0F;
$second_bg_color: #201F21;
$main_txt_color: #FAF9F5;
$strong_color: #4EF8EB;
$card_color_one: rgba(188, 172, 24, 1);
$card_color_two: rgba(179, 27, 182, 1);
$card_color_three: #F89C13;
$card_color_four: #30B335;
$main_text_font: 'Montserrat', sans-serif;
$chinese_txt_font: 'Noto Sans TC', sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $chinese_txt_font, $main_text_font;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  background-color: $main_bg_color;
}
@media screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

// 標題、橫幅區塊
header {
  width: 100%;
  .hamburger_menu {
    position: fixed;
    z-index: 999;
    right: 40px;
    top: 30px;
    .menu_btn_wrap {
    }
    .menu_btn {
      width: 30px;
      height: 30px;
      display: block;
      background: $main_txt_color;
      border-radius: 50%;
      position: relative;
      transition: border .5s linear;
      cursor: pointer;
      &:before {
        content: '';
        width: 60%;
        height: 2px;
        background: linear-gradient(357.8deg, #57AD6A 19.33%, #84CC47 47.17%, #0bc8e1 93.66%);
        position: absolute;
        display: block;
        top: 30%;
        left: 50%;
        margin-left: -9px;
        transition: top .5s .5s, rotate .5s ;
      }
      &:after {
        content: '';
        width: 60%;
        height: 2px;
        background: linear-gradient(357.8deg, #57AD6A 19.33%, #84CC47 47.17%, #0bc8e1 93.66%);
        position: absolute;
        display: block;
        top: 70%;
        left: 50%;
        margin-left: -9px;
        transition: top .5s .5s, rotate .5s ;
      }
    }
    span {
      display: none;
    }
    h2 {
      display: none;
    }
  }
  #menu {
    &:checked {
      ~ nav {
        right: 0%;
      }
      ~ .hamburger_menu .menu_btn {
        border: 1px solid #bdbdbd;
        &:before {
          rotate: 45deg;
          // transform-origin: center center;
          top: 50%;
          transition: top .5s , rotate .5s .5s;
        }
        &:after {
          rotate: -45deg;
          // transform-origin: center center;
          top: 50%;
          transition: top .5s , rotate .5s .5s;
        }
      }
    }
  }
  nav {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    right: -300px;
    transition: 0.5s ease-in;
    background-color: $main_txt_color;  
    z-index: 10;
    ul {
      height: 100%;
      display: flex;
      padding: 0 30px;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      .text_linear {
        background: linear-gradient(180deg, #57AD6A 0%, #84CC47 41.15%, #0DE2FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      li {
        font-size: 1.25rem;
      }
      .subscribe {
        background: #FAF9F5;
        background-clip: padding-box;
        border-radius: 16px;
        padding: 0px;
        border: 1px solid transparent;
        position: relative;
        margin-top: 30px;
        &:hover {
          background-color: #f2f0eaa5;
          button {
            background: linear-gradient(180deg, #16822e 0%, #60aa1e 41.15%, #0e7e8d 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        &::after {
          content: '';
          position: absolute;
          inset: -1px -1px -1px -1px;
          background: linear-gradient(180deg, #57AD6A 0%, #84CC47 41.15%, #0DE2FF 100%);
          border-radius: 16px;
          display: block;
          z-index: -1;
        }
        button {
          background-color: transparent;
          border: none;
          padding: 10px 40px;
          text-align: center;
          display: block;
          font-size: 1rem;
          font-weight: 700;
          cursor: pointer;
        }
      }
      .border_image {
        border-image: linear-gradient(#57AD6A
        0%, #84CC47 40%, #0DE2FF 100%);
	      border-image-slice: 1;
        background-origin: border-box;
        background-clip: content-box, border-box;
        border-radius: 50%;
      }
      a {
        padding: 18px 18px 18px 0;
        display: inline-block;
        font-weight: 700;
        font-family: $main_text_font;
        position: relative;
        &::after {
          content: '';
          width: 0;
          height: 1px;
          display: block;
          position: absolute;
          right: 0;
          bottom: -2px;
          transition: .5s;
          background: linear-gradient(180deg, #57AD6A 0%, #84CC47 41.15%, #0DE2FF 100%);
        }
        &:hover {
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
      .share {
        // padding: 0 35px 0;
        margin: 40px 5px;
        text-align: center;
        font-weight: 700;
        span {
          display: block;
          margin: 0px 30px 20px;
        }
        .social_icon {
          padding: 0px;
          i {
            display: inline-block;
            padding: 10px;
            position: relative;
            background: #FAF9F5;
            background-clip: padding-box;
            border-radius: 16px;
            border: 1px solid transparent;
            font-size: 1.5rem;
            margin-right: 5px;
            color: #30b19b;
            &:hover {
              background: #f2f0eaa5;
            }
            &::after {
              content: '';
              position: absolute;
              inset: -1px -1px -1px -1px;
              background: linear-gradient(180deg, #57AD6A 0%, #84CC47 41.15%, #0DE2FF 100%);
              border-radius: 16px;
              display: block;
              z-index: -1;
            }
          }
        }
      }
    }
  }
  .banner {
    width: 100%;
    height: 100vh;
    position: relative;
    .website_logo {
      width: 100px;
      height: 70px;
      position: absolute;
      z-index: 3;
      left: 40px;
      top: 20px;
      img {
        width: 100%;
      }
    }
    .banner_pic {
      width: 100%;
      height: 100%;
      background: url('../image/4.jpg') no-repeat 70% center / cover;
      img {
        display: none;
      }
    }
    .banner_logo {
      position: absolute;
      width: 100%;
      z-index: 2;
      left: 50%;
      bottom: 10%;
      transform: translateX(-50%);
      .logo {
        width: 80%;
        margin: auto;
        padding: 20px 10px;
        background-color: #000000;
        text-align: center;
        position: relative;
        &::before {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          background-color:#524C4C;
          position: absolute;
          left: 10px;
          top: -10px;
          z-index: -1;
        }
      }
      .title {
        width: 100%;
        font-size: 3rem;
        text-shadow: 0 0 3px rgb(253, 253, 98);
        color: #fff;
        font-weight: 700;
        span {
          display: inline-block;
        }
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #fff;
          top: -30px;
          right: 0px;
        }
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #fff;
          bottom: -30px;
          left: 0px;
        }
      }
      .side_logo {
        width: 100%;
        position: absolute;
        color: #fff;
        display: flex;
        font-size: 0.5rem;
        &:nth-of-type(1) {
          color: #fff;
          top: -20px;
          text-shadow: 0 0 1px #ccc;
          span {
            font-family: $main_text_font;
            letter-spacing: 3px;
            padding-bottom: 8px;
          }
        }
        &:nth-of-type(2) {
          justify-content: flex-end;
          bottom: -20px;
          text-shadow: 0 0 2px #2d2d2d;
          span {
            font-family: $main_text_font;
            letter-spacing: 3px;
            padding-top: 8px;
          }
        }
      }
      .decoration {
        position: absolute;
        width: 2px;
        height: 30px;
        background-color: #fff;
        left: 0px;
        bottom: -30px;
      }
      .decoration1 {
        position: absolute;
        width: 2px;
        height: 30px;
        background-color: #fff;
        right: 0px;
        top: -30px;
      }
    }
    .blue_mask {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      display: block;
      background: linear-gradient(60.98deg, #009CCA -2.22%, rgba(1, 152, 200, 0) 59.71%);
    }
    .scroll {
      display: none;
    }
  }
}

@media screen and (min-width:1024px) { 
  header {
    height: 100vh;
    .hamburger_menu {
      width: 60px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      right: 0px;
      top: 0;
      background: linear-gradient(357.8deg, #57AD6A 19.33%, #84CC47 47.17%, #0bc8e1 93.66%);
      .menu_btn_wrap {
        flex-grow: 1;
        padding-top: 30px;
      }
      .menu_btn {
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
        &:before {
          margin-left: -12.5px;
        }
        &:after {
          margin-left: -12.5px;
        }
      }
      span {
        text-align: center;
        display: block;
        font-size: 18px;
        line-height: 29px;
        color: #FAF9F5;
        font-weight: 500;
      }
      h2 {
        display: block;
        writing-mode: vertical-lr;
        flex-grow: 2;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 29px;
        color: #FAF9F5;
        letter-spacing: 3px;
      }
    }
    nav {
      transition: 1s;
      width: 360px;
      right: -360px;
    }
    .banner {
      .website_logo {
        width: 120px;
        height: 80px;
        left: 50px;
        top: 30px;
      }
      .banner_logo {
        left: calc(30%);
        top: calc(50%);
        transform: translate(-50%, -50%);
        .logo {
          width: 30%;
          &::before {
            left: 20px;
            top: -20px;
          }
        }
        .title {
          padding: 30px;
          font-size: 5rem;
          &::after {
            height: 2px;
            width: 130%;
          }
          &::before {
            width: 130%;
            height: 2px;
          }
          span {
            display: block;
          }
        }
        .side_logo {
          writing-mode: vertical-lr;
          &:nth-of-type(1) {
            top: 0;
            left: -20px;
            span {
              letter-spacing: 5px;
            }
          }
          &:nth-of-type(2) {
            bottom: 20px;
            left: 100%;
            span {
              letter-spacing: 5px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:1200px) { 
  header {
    .banner {
      .scroll {
        display: block;
        position: absolute;
        z-index: 2;
        font-size: 20px;
        font-family: $main_text_font;
        color: $main_txt_color;
        left: 50px;
        bottom: 30px;
        writing-mode: vertical-lr;
        a {
          color: $main_txt_color;
        }
        span {
          display: inline-block;
          width: 2px;
          height: 100px;
          background-color: #229ec0;
          margin-top: 20px;
          position: relative;
          overflow: hidden;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 40%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.827) 0%, rgba(238, 238, 240, 0.183) 100%);
            top: -100%;
            right: 0;
            animation: scroll 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
          }
        }
      }
    }
  }
}


@keyframes scroll {
  from {
    top: -100%;
  }
  to {
    top: 100%;
  }
}

// 跑馬燈區
.marquee {
  width: 100%;
  .marquee_pic {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 20vh;
    .pic_list {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      .pic {
        flex-shrink: 0;
        width: 50%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: middle;
        filter: grayscale(50%);
      }
    }
    .first {
      animation:  
      mar 60s linear 1 forwards,
      mar1 120s linear 60s infinite;
    }
    .two {
      left: 100%;
      animation: mar1 120s linear infinite;
    }
  }
  .marquee_hashtag {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    .hashtag_wrap {
      width: 100%;
      display: flex;
      gap: 20px;
      // overflow: hidden;
      padding-bottom: 10px;
      .one_hashtag {
        flex-shrink: 0;
        display: flex;
        align-items: start;
        gap: 15px;
        span {
          padding: 5px;
          background-color: $main_txt_color;
          font-size: 0.5rem;
          border-radius: 10px;
          cursor: pointer;
        } 
      }
      .re_hashtag {
        animation: 
        hashtag1 160s linear -80s infinite,
      }
      .hashtag {
        animation: 
        hashtag 160s linear infinite;
      }
      .re_hashtag1 {
        animation: 
        hashtag1 120s linear -60s infinite,
      }
      .hashtag1 {
        animation: 
        hashtag 120s linear infinite;
      }
    }
  }
}

@media screen and (min-width:768px) {
  .marquee {
    .marquee_pic {
      .pic_list {
        .pic {
          width: 50%;
          flex-shrink: 0;
        }
      }
    }
  }
}

@keyframes mar {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes mar1 {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

@keyframes hashtag {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes hashtag1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}


// 海報區
.poster {
  width: 100%;
  padding: 30px 0;
  .poster_wrap {
    max-width: 1200px;
    margin: auto;
  }
  .poster_list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 70%;
    margin: auto;
    .pic {
      height: 200px;
      position: relative;
      &::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        border-top: 40px solid $main_bg_color;
        border-bottom: 40px solid transparent;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
      }
      &:nth-of-type(1) {
        background: url('../image/浮現.png') no-repeat center / cover;
        &::after {
          left: -40px;
          bottom: 0;
          transform: rotate(180deg);
        }
      }
      &:nth-of-type(2) {
        background: url('../image/覺醒.jpg') no-repeat left top / cover;
        &::after {
          right: -40px;
          top: 0;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  .poster {
    width: 100%;
    padding: 60px 0;
    .poster_wrap {
      max-width: 1200px;
      margin: auto;
    }
    .poster_list {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin: auto;
      .pic {
        width: 48%;
        height: 250px;
        position: relative;
        &::after {
          content: '';
          width: 0;
          height: 0;
          display: block;
          position: absolute;
          border-top: 40px solid $main_bg_color;
          border-bottom: 40px solid transparent;
          border-right: 40px solid transparent;
          border-left: 40px solid transparent;
        }
        &:nth-of-type(1) {
          background: url('../image/浮現.png') no-repeat center / cover;
          &::after {
            left: -40px;
            bottom: 0;
            transform: rotate(180deg);
          }
        }
        &:nth-of-type(2) {
          background: url('../image/覺醒.jpg') no-repeat left top / cover;
          &::after {
            right: -40px;
            top: 0;
          }
        }
      }
    }
  }
}

// 時間表
.timetable {
  width: 100%;
  padding: 30px 0 60px;
  color: $main_txt_color;
  .wrap {
    max-width: 1200px;
    padding: 30px;
    margin: auto;
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background: url('../banner3.jpg') no-repeat center / cover;
      filter: blur(3px);
      background-attachment: fixed;
    }
    .title {
      display: none;
    }
    table {
      width: 100%;
      background-color: #201F21;
      border-radius: 10px;
      position: relative;
      z-index: 2;
      padding: 30px;
      caption {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 30px;
        position: relative;
        &:after {
          content: '';
          width: 30%;
          height: 1px;
          background-color: $main_txt_color;
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      tbody {
        width: 100%;
        height: 400px;
        display: block;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-track {
          background: none;
        }
        &::-webkit-scrollbar-thumb {
          background: $main_txt_color;
        }
      }
      tr {
        width: 100%;
        font-size: 0.8rem;
        position: relative;
        &::before {
          content: '';
          width: 100%;
          height: 1px;
          display: block;
          position: absolute;
          background-color: $main_txt_color;
        }
        &:nth-of-type(1) {
          &::before {
            width: 0;
          }
        }
        td {
          width: 50%;
          padding: 30px 10px;
          font-weight: 400;
          line-height: 2rem;
          position: relative;
          z-index: 2;
          a {
            display: block;
            color: $main_txt_color;
            &:focus {
              color: $strong_color;
            }
          }
        }
        td:nth-of-type(2) {
          
        }
        .tag {
          text-align: right;
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width:600px) {
  .timetable {
    .wrap {
      table {
        tr {
          display: flex;
          td {
            font-size: 1rem;
          }
          .tag {
            display: block;
            margin-right: 10px;
            span {
              padding: 5px;
              background-color: $main_txt_color;
              color: $main_bg_color;
              border-radius: 10px;
              text-decoration: line-through;
            }
          }
          .soon {
            span {
              text-decoration: none;
              background-color: #1bb6c1;
              color: $main_txt_color;
            }
          }
          .notyet {
            span {
              text-decoration: none;
              background-color: rgb(17, 178, 140);
              color: $main_txt_color;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width:1200px) {
  .timetable {
    padding: 60px 0px;
    .wrap {
      display: flex;
      justify-content: space-between;
      .title {
        display: block;
        position: relative;
        margin: 30px;
        h2 {
          font-family: $main_text_font;
          font-weight: 700;
          font-size: 2.5rem;
          line-height: 100px;
          font-family: 'Montserrat';
          margin-bottom: 30px;
          text-shadow: 0px 4px 10px #000000;
          padding-left: 20px;
          position: relative;
          z-index: 3;
          &::after {
            content: '';
            display: block;
            width: 70%;
            height: 2px;
            position: absolute;
            bottom: 0px;
            background-color: $main_txt_color;
          }
        }
        strong {
          display: block;
          padding: 20px 0 0 20px;
          padding-bottom: 20px;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 48px;
          color: $strong_color;
          text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.62);
          position: relative;
          z-index: 3;
        }
        span {
          display: inline-block;
          position: relative;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 48px;
          text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.62);
          color: $strong_color;
          font-weight: 700;
          z-index: 3;
        }
        .countdown_day {
          padding-left: 20px;
        }
      }
      table {
        width: 60%;
        margin-right: 30px;
        caption {
          display: none;
          &:after {
            display: none;
          }
        }
        tr {
          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $main_bg_color;
            z-index: 1;
            transform: scaleX(0);
            transform-origin: top right;
            transition: transform 0.5s ease;
          }
          &:hover {
            &::after {
              transform: scaleX(1);
              transform-origin: top left;
            }
          }
          td {
            font-weight: 400;
            line-height: 31px;
            position: relative;
            z-index: 2;
            a {
              display: block;
              padding: 30px 40px;
              color: $main_txt_color;
              &:focus {
                color: red;
              }
            }
          }
          td:nth-of-type(2) {
            width: 300px;
            flex-shrink: 0;
            padding: 0;
            // padding: 30px 100px 30px 70px;
          }
          .soon {
            padding: 30px 0;
          }
        }
      }
    }
  }
}

// 最新消息
.latest_news {
  width: 100%;
  padding: 60px 0;
  .news_wrap {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    .news_group {
      width: 100%;
      background-color: $second_bg_color;
    }
    .news_card_list {
      width: 100%;
      border-radius: 20px;
    }
    h2 {
      font-family: $main_text_font;
      display: inline-block;
      font-weight: 400;
      font-size: 3.5rem;
      line-height: 100px;
      color: $main_txt_color;
      position: relative;
      top: -50px;
      &::after {
        content: '';
        width: 30%;
        height: 1px;
        background-color: $main_txt_color;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0px;
        display: block;
      }
    }
    .news_card {
      width: 80%;
      margin: auto;
      box-shadow: 0 0 3px #ccc;
      text-align-last: left;
      .txt {
        padding: 10px;
        position: relative;
        background-color: $main_txt_color;
        span {
          position: relative;
          z-index: 2;
          display: block;
          padding: 5px;
          font-size: 1.25rem;
          font-weight: 600;
          &:nth-of-type(1) {
            font-size: 22px;
          }
        }
      }
      .pic {
        width: 100%;
        height: 100%;
        overflow: hidden;
        &:hover img{
          transform: scale(1.1);
        }
      }
      img {
        width: 100%;
        height: 100%;
        transform: scale(1);
        vertical-align: middle;
        transition: .5s;
        object-fit: cover;
      }
    }
    .news_box {
      padding: 50px 50px 0 50px;
      display: flex;
      flex-direction: column;
      align-items: end;
      background-color: $second_bg_color;
      table {
        tr {
          display: grid;
          grid-template-columns: 2fr 3fr;
          grid-template-rows: 1fr;
          column-gap: 20px;
          text-align: center;
          padding: 35px 10px;
          cursor: pointer;
          position: relative;
          &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $main_txt_color;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
          }
        }
        td {
          font-size: 1.25rem;
          font-weight: 400;
          position: relative;
          z-index: 2;
          color: $main_txt_color;
          &:nth-of-type(1) {
            display: none;
          }
          &:nth-of-type(3) {
            position: relative;
          }
          a {
            color: $main_txt_color;
          }
        }
      }
      .more_news {
        display: inline-block;
        padding: 30px 0 20px;
        color: black;
        &:hover {
          span {
            color: $strong_color;
          }
          div {
            right: -10px;
          }
        }
        span {
          letter-spacing: 3px;
          display: inline-block;
          margin-right: 10px;
          position: relative;
          color: $main_txt_color;
        }
        div {
          display: inline-block;
          position: relative;
          width: 45px;
          height: 12px;
          transition: 1s;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  .latest_news {
    .news_wrap {
      h2 {
        &::after {
          bottom: -10px;
        }
      }
      .news_box {
        table {
          tr {
            text-align: left;
          }
          td {
            &:nth-of-type(1) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width:1200px) {
  .latest_news {
    .news_wrap {
      h2 {
        display: block;
        text-align: left;
        &::after {
          width: 50%;          bottom: -10px;
          right: auto;
        }
      }
      .news_box {
        .more_news {
          // margin-right: 60px;
        }
      }
    }
  }
}

// 專訪

.interview {
  width: 100%;
  padding: 30px 0px;
  .interview_wrap {
    max-width: 1200px;
    margin: auto;
  }
  h2 {
    font-family: $main_text_font;
    color: $main_txt_color;
    display: block;
    font-weight: 400;
    font-size: 3rem;
    line-height: 60px;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
      &::after {
        content: '';
        width: 30%;
        height: 1px;
        background-color: $main_txt_color;
        position: absolute;
        bottom: 30px;
        right: 0;
        left: 0;
        margin: auto;
        display: block;
      }
  }
  .interview_list {
    width: 100%;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
  }
  .interview_card_column {
    width: 100%;
    .pic {
      width: 100%;
      height: 400px;
      position: relative;
      // &::before {
      //   content: '';
      //   width: 100%;
      //   height: 300px;
      //   position: absolute;
      //   right: 0;
      //   bottom: -130px;
      //   display: block;
      //   z-index: 1;
      //   background-color: rgba(255, 250, 119, 1);
      // }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        position: relative;
        z-index: 2;
      }
    }
    .txt {
      width: 100%;
      margin: auto;
      position: relative;
      z-index: 3;
      bottom: 50px;
      .interview_title {
        color: $main_txt_color;
        text-align: center;
        padding: 20px 20px;
        line-height: 2rem;
        background-color: $card_color_one;
      }
      a {
        color: $main_txt_color;
        display: block;
        &:nth-of-type(2) {
          span {
            font-size: 1rem;
          }
        }
      }
      span {
        display: inline-block;
        min-height: 1.5em;
        font-size: 1.5rem;
        font-weight: 700;
      }
      .edit {
        font-size: 0.8rem;
        text-align: right;
        padding: 20px 20px;
        color: $main_bg_color;
        background-color: rgba(255, 250, 119, 1);
      }
    }
  }
  .interview_card_row {
    width: 100%;
    // padding-bottom: 30px;
    .pic {
      width: 100%;
      position: relative;
      .decoration {
        display: none;
      }
      // &::before {
      //   content: '';
      //   width: 100%;
      //   height: 200px;
      //   position: absolute;
      //   right: 0;
      //   bottom: -160px;
      //   display: block;
      //   z-index: 1;
      //   background-color: rgba(248, 183, 253, 1);
      // }
      img {
        width: 100%;
        position: relative;
        z-index: 2;
      }
    }
    .txt {
      width: 100%;
      margin: auto;
      position: relative;
      bottom: 50px;
      z-index: 3;
      .interview_title {
        text-align: center;
        padding: 20px 20px;
        line-height: 2rem;
        background-color: $card_color_two;
        color: $main_txt_color;
        a {
          color: $main_txt_color;
          &:nth-of-type(2) {
            span {
              font-size: 1rem;
            }
          }
        }
        span {
          display: block;
          min-height: 1.5rem;
          font-size: 1.5rem;
          font-weight: 700;
          &:nth-of-type(2) {
            font-size: 22px;
            font-weight: 500;
          }
        }
      }
      .edit {
        font-size: 0.8rem;
        text-align: right;
        padding: 20px 20px;
        background-color: rgba(248, 183, 253, 1);
      }
    }
  }
  .card_row {
    .pic {
      position: relative;
      .decoration {
        display: none;
      }
      // &::before {
      //   bottom: -160px;
      //   background-color: #FAE2A5;
      //   left: 0;
      // }
    }
    .txt {
      .interview_title {
        background-color: $card_color_three;
      }
      .edit {
        color: $main_bg_color;
        background-color: #FAE2A5;
      }
    }
  }
  .card_column {
    .pic {
      // &::before {
      //   width: 100%;
      //   height: 300px;
      //   bottom: -160px;
      //   right: 0px;
      //   background-color: #B7FDBE;
      // }
      img {
        object-position: center;
      }
    }
    .txt {
      margin-right: 0px;
      .interview_title {
        background-color: $card_color_four;
      }
      .edit {
        color: $main_bg_color;
        background-color: #B7FDBE;
      }
    }
  }
}

@media screen and (min-width:768px) {
  .interview {
    h2 {
      display: block;
      font-size: 3.5rem;
      line-height: 100px;
        &::after {
          
        }
    }
    .interview_card_column {
      .pic {
        height: 450px;
        &::before {
          content: '';
          width: 100%;
          height: 400px;
          position: absolute;
          bottom: -140px;
          display: block;
          z-index: 1;
          background-color: rgba(255, 250, 119, 1);
        }
        &::after {
        }
        img {
          border-radius: 50px;
        }
      }
      .txt {
        width: 80%;
        .interview_title {
          color: $main_txt_color;
          text-align: center;
          padding: 20px 50px;
          background-color: $card_color_one;
        }
        span {
          min-height: 2em;
        }
        .edit {
          background-color: transparent;
        }
      }
    }
    .interview_card_row {
      .pic {
        &::before {
          content: '';
          width: 100%;
          height: 400px;
          position: absolute;
          bottom: -180px;
          display: block;
          z-index: 1;
          background-color: rgba(248, 183, 253, 1);
        }
        &::after {
          display: none;
        }
        img {
          border-radius: 50px;
        }
      }
      .txt {
        width: 80%;
        .interview_title {
          span {
            min-height: 2em;
          }
        }
        .edit {
          background-color: transparent;
        }
      }
    }
    .card_row {
      .pic {
        &::before {
          background-color: #FAE2A5;
        }
      }
      .txt {
        .edit {
          color: $main_bg_color;
        }
      }
    }
    .card_column {
      .pic {
        &::before {
          background-color: #B7FDBE;
          bottom: -180px;
        }
      }
      .txt {
        margin:auto;
        .interview_title {
          background-color: $card_color_four;
        }
        .edit {
          color: $main_bg_color;
        }
      }
    }
  }
}
@media screen and (min-width:800px) {
  .interview {
    .interview_card_row {
      .pic::before {
        bottom: -200px;
      }
    }
    .interview_card_column {
      .pic::before {
        bottom: -165px;
      }
    }
    .card_row {
      .pic::before {
        bottom: -200px;
      }
    }
    .card_column {
      .pic::before {
        bottom: -200px;
      }
    }
  } 
}
@media screen and (min-width:1024px) {
  .interview {
    .interview_list {
      padding: 60px;
    }
    h2 {
      text-align: right;
      margin-right: 60px;
        &::after {
          width: 50%;
          left: auto;
        }
    }
    .interview_list {
      flex-direction: row;
    }
    .interview_card_column {
      width: 400px;
      .pic {
        &:hover {
          &::after {
            height: 100%;
          }
        }
        &::before {
          width: 460px;
          height: 400px;
          bottom: -160px;
          right: 0;
        }
        &::after {
          content: '';
          width: 3px;
          height: 50%;
          position: absolute;
          right: -50px;
          top: 50%;
          transform: translateY(-50%);
          transition: .5s;
          background-color: $card_color_one;
        }
      }
      .txt {
        .interview_title {
          &:hover {
            a {
              color: $second_bg_color;
            }
          }
        }
        a {
          &:nth-of-type(2) {
            span {
              font-size: 18px;
            }
          }
        }
        span {
          font-size: 24px;
        }
        .edit {
          padding: 20px 0px 20px;
        }
      }
    }
    .interview_card_row {
      width: 600px;
      margin: 0 20px 0 100px;
      .pic {
        .decoration {
          display: block;
          position: absolute;
          top: -190px;
          left: calc( -100% + 100px);
          z-index: -1;
        }
        &:hover {
          &::after {
            height: 100%;
          }
        }
        &::before {
          content: '';
          width: 460px;
          right: -100px;
          bottom: -230px;
        }
        &::after {
          display: block;
          content: '';
          width: 3px;
          height: 50%;
          position: absolute;
          right: -50px;
          top: 50%;
          transform: translateY(-50%);
          transition: .5s;
          background-color: $card_color_two;
          z-index: 1;
        }
      }
      .txt {
        margin-right: 0;
        .interview_title {
          &:hover {
            a {
              color: $second_bg_color;
            }
          }
          a {
            &:nth-of-type(2) {
              span {
                font-size: 18px;
              }
            }
          }
          span {
            font-size: 24px;
            &:nth-of-type(2) {
              font-size: 22px;
            }
          }
        }
        .edit {
          padding: 20px 0px 20px;
        }
      }
    }
    .card_row {
      width: 600px;
      margin: 0;
      .pic {
        .decoration {
          top: -180px;
          left: 60%;
          width: 180px;
          height: 190px;
        }
        &::before {
          right: 100px;
        }
        &::after {
          background-color: $card_color_three;
          left: calc(100% + 50px);
        }
      }
      .txt {
        .edit {
          text-align: left;
        }
      }
    }
    .card_column {
      width: 400px;
      margin: 0 20px 0 100px;
      .pic {
        &::before {
          width: 460px;
          height: 300px;
          right: 0px;
          bottom: -250px;
          background-color: #B7FDBE;
        }
        &::after {
          background-color: $card_color_four;
          left: calc(100% + 50px);
        }
      }
      .txt {
        .interview_title {
          background-color: $card_color_four;
        }
        .edit {
          text-align: left;
        }
      }
    }
  }
}

// 媒體區
.media {  
  width: 100%;
  padding: 40px 0px;
  background-color: $main_bg_color;
  .media_wrap {
    max-width: 1200px;
    margin: auto;
  }
  h2 {
    color: $main_txt_color;
    font-family: $main_text_font;
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 60px;
    position: relative;
    &::after {
      content: '';
      width: 30%;
      height: 1px;
      background-color: $main_txt_color;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 30px;
      display: block;
    }
  }
  .photo_marquee {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    .tr {
      transition: 3s;
    }
    .photo_box {
      position: absolute;
      left: 0;
      display: flex;
      div {
        width: 240px;
      }
    }
    .photo_re {
      left: 100%;
    }
    #photo_marquee1 {
      left: -100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .video_area {
    display: flex;
    flex-direction: column;
    video {
      width: 100%;
      padding: 50px 30px;
      cursor: pointer;
    }
    .video_txt {
      color: $main_txt_color;
      padding: 0 30px 50px 30px;
      text-align: left;
      h2 {
        display: none;
      }
      span {
        display: block;
        font-size: 1.2rem;
        line-height: 2rem;
        padding-bottom: 30px;
      }
      button {
        width: 70%;
        padding: 10px;
        background-color: $main_txt_color;
        color: #000;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        a {
          font-size: 1rem;
          color: $main_bg_color;
        }
        i {
          font-size: 1rem;
          width: 30px;
          height: 30px;
          line-height: 30px;
          color: #fff;
          background-color: #000000;
          border-radius: 50%;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  .media {
    h2 {
      font-size: 3.5rem;
    }
    .video_area {
      flex-direction: row;
      video {
        height: 100%;
      }
      .video_txt {
        width: 40%;
        padding: 50px 100px 50px 50px;
        button {
          width: 250px;
          height: 70px;
          margin: 0 0 0 auto;
          cursor: pointer;
          a {
            padding: 0 10px;
          }
          i {
            width: 40px;
            height: 40px;
            line-height: 40px;
          }
        }
      }
    }
  }
}

@media screen and (min-width:1200px) {
  .media {
    h2 {
      font-size: 3.5rem;
      display: none;
      &::after {
        display: none;
      }
    }
    .video_area {
      .video_txt {
        padding: 50px 25px 50px 50px;
        h2 {
          display: block;
          text-align: right;
        }
        button {
          &:hover {
            background-color: $strong_color;
          }
          cursor: pointer;
        }
      }
    }
  }
}

.modal {
  position: fixed;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: none;
  .youtube {
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-3%);
    right: 0;
    left: 0;
    margin: auto;
    background-color: #aaa;
    &::after {
      content: '';
      width: 100%;
      padding-bottom: 56.25%;
      display: block;
    }
  }
  iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  button {
    position: absolute;
    right: -50px;
    top: 0px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
  }
}
// @media screen and (min-width:1200px) {
//   .modal {
//     position: fixed;
//     z-index: 11;
//     width: 100vw;
//     height: 100vh;
//     background-color: #000;
//     display: none;
//     .youtube {
//       width: 80%;
//       position: absolute;
//       top: 50%;
//       transform: translateY(-50%) translateX(-3%);
//       right: 0;
//       left: 0;
//       margin: auto;
//       background-color: #aaa;
//       &::after {
//         content: '';
//         width: 100%;
//         padding-bottom: 56.25%;
//         display: block;
//       }
//     }
//     iframe {
//       position: absolute;
//       top: 0;
//       width: 100%;
//       height: 100%;
//     }
//     button {
//       position: absolute;
//       right: -50px;
//       top: 0px;
//       background-color: transparent;
//       border: none;
//       color: #fff;
//       font-size: 40px;
//       cursor: pointer;
//     }
//   }
// }

// 廣告標語區
.ad_slogan {
  margin: 60px 0;
  padding: 80px 0;
  background: url('../image/ad.jpg') no-repeat center / cover;
  position: relative;
  .black_mask {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.77deg, #1a1919 -39.2%, rgba(224, 221, 221, 0) 187.23%);;
    top: 0;
  }
  .ad_wrap {
    text-align: center;
    span {
      display: block;
      font-size: 2.5rem;
      font-family: $main_text_font;
      font-weight: 500;
      text-shadow: 0 0 3px $strong_color;
      color: $strong_color;
      position: relative;
      z-index: 2;
      text-shadow: 
      0 0 3px $strong_color,
      0 0 3px $strong_color,
      0 0 3px $strong_color;
    }
  }
}

@media screen and (min-width:768px) {
  .ad_slogan {
    padding: 130px 0;
  }
}
@media screen and (min-width:1200px) {
  .ad_slogan {
    padding: 230px 0;
    .ad_wrap {
      span {
        font-size: 4rem;
      }
    }
  }
}


// 社群媒體區
.social_media {
  width: 100%;
  font-family: $main_text_font;
  background-color: #201F21;
  .social_wrap {
    margin: auto;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 1fr;
    li {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $main_bg_color;
      border-left: 1px solid $main_bg_color;
      &:nth-of-type(1) {
        i {
          color: #21a4e5;
        }
      }
      &:nth-of-type(2) {
        i {
          color: #f950f4;
        }
      }
      &:nth-of-type(3) {
       i {
        color: #fa2b2b;
       }
      }
      &:nth-of-type(4) {
        i {
          color: #23e229;
        }
      }
      &:nth-of-type(5) {
        i {
          color: #3953f8;
        }
      }
    }
    span {
      display: none;
    }
    i {
      font-size: 2rem;
      padding: 20px 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .social_media {
    ul {
      a {
        padding: 15px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .social_media {
    ul {
      li {
        &:hover {
          background-color: $main_bg_color;
          i {
            animation: shake .3s linear 2 alternate;
          }
        }
      }
      a {
        color: $main_txt_color;
        span {
          display: block;
        }
      }
      i {
        font-size: 50px;
      }
    }
  }
}


@keyframes shake {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

// footer區
footer {
  width: 100%;
  padding: 30px 30px;
  color: $main_txt_color;
  font-family: $main_text_font;
  .footer_logo {
    display: block;
    width: 20%;
    margin: auto;
    a {
      display: block;
      width: 20%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .footer_nav {
    width: 100%;
    span {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      line-height: 3rem;
      padding-bottom: 10px;
      border-bottom: 1px solid #777;
      &:nth-of-type(9) {
        border: none;
      }
      &:last-child {
        border: none;
      }
      a {
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $main_txt_color;
      }
      &:nth-of-type(10) {
        display: flex;
      }
    }
    button {
      background: #ccc;
      width: 100px;
      height: 40px;
      margin-left: -5px;
      color: $main_bg_color;
      border: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
    input {
      display: inline-block;
      width: 200px;
      padding: 15px;
      height: 40px;
      border: none;
      flex-grow: 1;
      &:focus {
        outline: none;
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
  .footer_copy {
    width: 100%;
    padding: 15px 0 0;
    text-align: left;
    a {
      display: none;
    }
    span {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width:768px) {
  footer {
    padding: 30px 60px;
    .footer_logo {
      padding-bottom: 30px;
    }
    .footer_nav {
      display: flex;
      flex-wrap: wrap;
      span {
        width: 46%;
      }
    }
  }
}

@media screen and (min-width:1200px) {
  footer {
    .footer_wrap {
      padding: 50px 0;
      display: flex;
      gap: 60px;
      flex-direction: row;
      .footer_logo {
        width: 150px;
        margin-left: 0;
      }
    }
    .footer_nav {
      width: 80%;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr) 2fr;
      gap: 40px;
      span {
        border-bottom: none;
        line-height: 20px;
        &:hover {
          a {
            color: $strong_color;
          }
        }
        &:nth-of-type(10) {
          width: 100%;
        }
      }
      button {
        background: #ccc;
        color: $main_bg_color;
        border: none;
        cursor: pointer;
      }
    }
    .footer_copy {
      padding: 10px 60px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        display: block;
        color: $main_txt_color;
        padding: 10px;
        font-weight: 500;
        border-radius: 10px;
        background: linear-gradient(180deg, #95D83F 0%, rgba(91, 196, 165, 0.7) 100%);;
      }
    }
  }
}


//跑馬燈的滑入圖片顯示
.random_pic {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 12;
  display: none;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}


// 回到頂部按鈕
.go_top {
  display: none;
  img {
    // display: none;
  }
}
@media screen and (min-width:1200px) {
  .go_top {
    width: 150px;
    height: 150px;
    position: fixed;
    z-index: 15;
    bottom: 50px;
    right: 80px;
    animation: rotateInfinite 2s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
    img {
      width: 100%;
      // display: block;
      object-fit: fill;
    }
  }
}

@keyframes rotateInfinite {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

// 訂閱成功提示彈窗
.subscribe_modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: rgb(0, 0, 0, 0.5);
  .success_info {
    width: 50%;
    margin: auto;
    padding: 50px;
    background-color: $main_txt_color;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .close_btn {
    position: absolute;
    right: 30px;
    top: 20px;
  }
  button {
    color: $main_bg_color;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background: none;
  }
  .icon {
    width: 100px;
    margin: auto;
    padding-bottom: 30px;
  }
  i {
    font-size: 85px;
    background-color: #52bc07;
    padding: 10px;
    border-radius: 50%;
  }
  span {
    display: block;
    padding-bottom: 30px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .subscribe_modal {
    .success_info {
      width: 50%;
    }
    button {
      font-size: 40px;
    }
    i {
      font-size: 85px;
    }
    span {
      font-size: 40px;
    }
  }
}