$title_color: #F3E4E4;
$title_border: #8C7878;
$txt_color: #FAF9F5;
$txt_border: #DDCB2A;
$main_bg_color: #0F0F0F;
$card_bg_color: #5F5F5F;
$main_text_font: 'Montserrat', sans-serif;
$chinese_txt_font: 'Noto Sans TC', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import url(./footer.css);
@import url(./header.css);
@import url(./pageTitle.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $chinese_txt_font;
}
body {
  background-color: $main_bg_color;
}
@media screen and (min-width: 500px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 22px;
  }
}
img {
  width: 100%;
  height: 100%;
}
// 分頁標題、註冊登入
.about_wrap {
  .about_title {
    h2 {
      &::after {
        bottom: -60px;
      }
    }
    .login {
      text-align: right;
      a {
        color: $txt_color;
        font-size: 1.2rem;
        &:nth-child(1) {
          padding-right: 30px;
        }
      }
    }
  }
}
// tickets區
.tickets {
  width: 100%;
  padding: 100px 0 20px;
  .tickets_wrap {
    width: 80%;
    margin: auto;
    h3 {
      color: $txt_color;
      font-weight: 400;
      font-size: 3.1rem;
      line-height: 4.5rem;
      padding-bottom: 50px;
    }
    .popular_tickets {
      padding-bottom: 50px;
      .tickets_card_list {
        a {
          max-width: 90%;
          display: block;
          padding-bottom: 50px;
        }
        .pic {
          width: 100%;
          // height: 250px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: middle;
          }
        }
        .txt {
          color: $txt_color;
          font-size: 1.8rem;
          padding: 20px 0;
          text-align: center;
          background-color: $card_bg_color;
          span {
            display: block;
            &:nth-of-type(1) {
              font-weight: 700;
            }
          }
        }
      }
    }
    .all_tickets {
      .tickets_card {
        width: 100%;
        height: 250px;
        margin: 0px auto 50px;
        display: flex;
        background: linear-gradient(90.72deg, #6BE686 -12.34%, rgba(132, 204, 71, 0.703125) 58.86%, rgba(13, 226, 255, 0.4) 114.25%);
        border-radius: 30px;
        position: relative;
        &:nth-child(2) {
          background: linear-gradient(90deg, #84faaf95, #8fd2f4b8);
        }
        &:nth-child(3) {
          background: linear-gradient(90deg, #43e97ab3, #38f9d6c3);
        }
        &:nth-child(4) {
          background: linear-gradient(90deg, #96fbc3a3, #efe948b2);
        }
        &:nth-child(5) {
          background: linear-gradient(90deg, #58ffe0d3, #85cdeeab);
        }
        &:nth-child(6) {
          background: linear-gradient(90deg, #abecd69d, #fbed96a0);
        }
        &:first-child {
          &::before {
            display: none;
            content: 'TICKETS';
            color: rgba(255, 255, 255, 0.7);
            font-size: 120px;
            left: -260px;
            top: 180px;
            position: absolute;
            z-index: -1;
            transform: rotate(270deg);
          }
        }
      }
      .title {
        padding: 30px;
        width: 65%;
        display: flex;
        flex-direction: column;
        position: relative;
        .water_mark {
          width: 100%;
          height: 100%;
          background: url('../image/concert.jpg') no-repeat center / cover;
          position: absolute;
          opacity: .5;
          left: 0;
          top: 0;
          z-index: -1;
        }
        .logo_inline {
          width: 60px;
          height: 40px;
        }
        h4 {
          margin-top: auto;
          font-size: 2rem;
          font-weight: 700;
          color: $txt_color;
        }
      }
      .tickets_info {
        width: 35%;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 2px dashed $main_bg_color;
        position: relative;
        &::before {
          content: '';
          width: 40px;
          height: 40px;
          background-color: $main_bg_color;
          border-radius: 50%;
          position: absolute;
          left: -20px;
          top: -25px;
        }
        &::after {
          content: '';
          width: 40px;
          height: 40px;
          background-color: $main_bg_color;
          border-radius: 50%;
          position: absolute;
          left: -20px;
          bottom: -25px;
        }
      }
      .qrcode {
        width: 40px;
        height: 35px;
      }
      span {
        color: $txt_color;
        font-size: 0.8rem;
        cursor: pointer;
        &:nth-of-type(3) {
          a {
            font-size: 1.2rem;
            color: $txt_border;
            padding-left: 10px;
          }
          img {
            width: 15px;
            height: 17px;
          }
        }
      }
    }
  }
}
@media screen and (min-width:768px) {
  .tickets {
    .tickets_wrap {
      .popular_tickets {
        .tickets_card_list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          a {
            width: 46%;
            display: block;
          }
          .pic {
            height: 250px;
          }
        }
      }
      .all_tickets {
        .tickets_card {
          max-width: 90%;
          height: 350px;
          &:first-child {
            &::before {
              display: block;
            }
          }
        }
        .title {
          .logo_inline {
            width: 110px;
            height: 60px;
          }
        }
        .tickets_info {
          padding: 30px;
        }
        .qrcode {
          width: 80px;
          height: 75px;
        }
        span {
          font-size: 1rem;
          &:nth-of-type(3) {
            a {
              font-size: 1.5rem;
            }
            img {
              width: 27px;
              height: 29px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:1024px) {
  .tickets {
    .tickets_wrap {
      .all_tickets {
        .tickets_card_list {
          padding-bottom: 50px;
          display: flex;
          flex-wrap: wrap;
          gap: 50px;
        }
        .tickets_card {
          width: 46%;
          margin: auto;
        }
        .tickets_info {
          padding: 30px 20px;
        }
        span {
          &:nth-of-type(3) {
            a {
              font-size: 1.2rem;
            }
            img {
              width: 20px;
              height: 22px;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:1200px) {
  .tickets {
    .tickets_wrap {
      .popular_tickets {
        .tickets_card_list {
          display: flex;
          justify-content: space-between;
          a {
            width: 23%;
          }
        }
      }
    }
  }
}

.footer_logo img {
  width: auto;
  height: auto;
}