<footer>
  <div class="footer_wrap">
    <a href="index.html" class="footer_logo">
      <img src="image/logo.png" alt="">
    </a>
    <div class="footer_nav">
      <span><a href="index.html">HOME</a></span>
      <span><a href="about.html">ABOUT</a></span>
      <span><a href="festival.html">MUSIC FESTIVAL</a></span>
      <span><a href="artists.html">ARTISTS</a></span>
      <span><a href="" >CONTACT</a></span>
      <span><a href="tickets.html">TICKETS</a></span>
      <span><a href="faq.html">FAQ</a></span>
      <span><a href="playlist.html">PLAYLIST</a></span>
      <span><a href="" class="subscribe">SUBSCRIBE</a></span>
      <span><input type="text" placeholder="輸入信箱"><button class="submit">送出</button></span>
    </div>
  </div>
  <div class="footer_copy">
    <a href="playlist.html">探索屬於你的音樂</a>
    <span>© 2023 Copyright - 前端練習股份有限公司 - made by musictravel。 網站純屬練習使用，並無任何商業用途。</span>
  </div>
</footer>