<header id="main_header">
  <input type="checkbox" id="menu" style="display: none;">
  <div class="hamburger_menu">
    <div class="menu_btn_wrap">
      <label for="menu" class="menu_btn"></label>
      <span>M</span>
      <span>E</span>
      <span>N</span>
      <span>U</span>
    </div>
    <h2>search your music</h2>
  </div>
  <nav>
    <ul>
      <li><a href="index.html" class="text_linear">HOME</a></li>
      <li><a href="about.html" class="text_linear">ABOUT</a></li>
      <li><a href="festival.html" class="text_linear">MUSIC FESTIVAL</a></li>
      <li><a href="artists.html" class="text_linear">ARTISTS</a></li>
      <li><a href="playlist.html" class="text_linear">PLAYLIST</a></li>
      <li><a href="tickets.html" class="text_linear">TICKETS</a></li>
      <li><a href="faq.html" class="text_linear">FAQ</a></li>
      <li class="subscribe"><a href="login.html" class="text_linear">LOGIN</a></li>
      <li class="share">
        <span class="text_linear">share</span>
        <div class="social_icon">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-square-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </li>
    </ul>
  </nav>
</header>